venv/

*.pyc
__pycache__/
.vscode

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

backend/Checkpoints
backend/Data
backend/Dataset
backend/Model
backend/SavedData
backend/Utils
backend/sql2text-reference

my_deploy.sh
